# List

In [1]:
# List is a data structure which can be ordered, index and mutable
a=['Sam', 1, 'Sushmita di', 14, 3.5]
print (a)

['Sam', 1, 'Sushmita di', 14, 3.5]

In [2]:
# Append function of list = use to add the element in the list
a.append('Apple')
print(a)

['Sam', 1, 'Sushmita di', 14, 3.5, 'Apple']

In [3]:
# remove function of list = used to remove the element from the list

a.remove(14)
print(a)

['Sam', 1, 'Sushmita di', 3.5, 'Apple']

In [7]:
# Sort function of list = to arrange the data in assending order

b=[1,2,15,24,16,0]

b.sort()
b

[0, 1, 2, 15, 16, 24]

In [3]:
# Reverse function of list = to arrange the data in descending order 

b.reverse()
b

[24, 16, 15, 2, 1, 0]

In [8]:
# accessing the element of the list with the help of index value

print(b[3])

15

In [9]:
# Backward indexing

print(b[-2])

16

In [12]:
#len function use to count the number of variable in yhe list 

len(b)

6

In [13]:
# insertind data in between
list1 = [1,2,3,4,5]
element = 23
before = 4
index = list1.index(before)   #Finding the index value of 4 which is stored is stored in before variable
list1.insert(index,element)
print(list1)

[1, 2, 3, 23, 4, 5]

In [14]:
# Maximum in the list
max(list1)

23

In [15]:
# Minimum in the list
min(list1)

1

In [109]:
#Index Value = insert the data in mid
a=['a very big data',9,6,2]
a[2]='Hi'
print(a)

['a very big data', 9, 'Hi', 2]

In [110]:
index = a.index(9)
print (index)

1

In [32]:
# Finding Index value 
Animals = ['cat','dog','rabbit','horse']
index = Animals.index('dog')
print (index)

1

In [12]:
element='sparrow'
before='horse'
index=Animals.index('horse')
Animals.insert(index,element)
Animals

['cat', 'dog', 'rabbit', 'sparrow', 'horse']

In [33]:
element='sparrow'
before='horse'
index1 = Animals.index('horse')
print(index1)
Animals.insert(3,element)
Animals

3

['cat', 'dog', 'rabbit', 'sparrow', 'horse']

In [34]:
element='sparrow'
before='horse'
index1 = Animals.index('horse')
print(index1)
Animals.insert(3,element)
Animals

[1, 2, 3, 4, 5, 6, 8, 9]

In [30]:
index = students_roll.index(6)
index

5

In [31]:
max(students_roll)

9

In [32]:
min(students_roll)

1

In [37]:
students_roll[7] = 6
students_roll

[1, 2, 3, 4, 5, 6, 8, 6]

In [34]:
students_roll.reverse()
students_roll

[9, 8, 6, 5, 4, 3, 2, 1]

In [35]:
type(students_roll)

list

In [39]:
#Slicing = Slicing is a concept in python which is used to retrive or extract multiple data through index value
#Variable [start index : end index : step]
x = 'This is a book'
m = len(x)
print (m)

14

In [51]:
x1 = 'This is a book'
len(x1)

14

In [52]:
#Slicing rule => inclusive and exclusive
#Forward Slicing
x1[0:10]
x1

'This is a book'

In [53]:
#Backward Slicing
print(x[m::-1])

koob a si sihT

In [1]:
x = 'He is playing'
m = len(x)
x[6:len(x)]
x

'He is playing'

# Coding question based on list data structure

in operator will return to if specific element is a list

Q1.  How to chech whether an element is present in a list

In [2]:
list=['Apple','Mango','Pear','Strawberry','Dagon Fruit','Melon']
'Apple' in list

True

Q2. How to iterate over to or more than two list at same time

NOTE  : Zip function is use to merge and iterate over the zip object.
Zip object is iterate of tuple

In [55]:
List1 = ['Mercedes Benz','Toyota','Ford','BMW','Lamborghini']
list2 = ['AMG GT','Legender','Mustang','Urus']
list3 = ['Green','Grey','Blue','Black','Navi Blue']
z = zip(List1,list2,list3)
for List1,list2,list3 in z:
  print("%s the %s is %s" % (List1,list2,list3))

Mercedes Benz the AMG GT is Green
Toyota the Legender is Grey
Ford the Mustang is Blue
BMW the Urus is Black

In [12]:
list4 = [1,2,3,4,5]
list4.append([6,7])
print(list4)

[1, 2, 3, 4, 5, [6, 7]]

In [11]:
list4 = [1,2,3,4,5]
list4.extend([6,7])
print(list4)

[1, 2, 3, 4, 5, 6, 7]

In [13]:
list5 = ['Mercedes Benz','Toyota','Ford','BMW','Audi','Lamborgini']
list5.extend(['Mini Coper'])
print(list5)

['Mercedes Benz', 'Toyota', 'Ford', 'BMW', 'Audi', 'Lamborgini', 'Mini Coper']

Append and exend function in a list both are responsible to add data in the exsisting list both store the value in the list but the difference between append and extend is append can have list inside list where as extend does not allow addind list inside a list, instead it treates the data as its own value

Remove function removes the 1st instent of the matching object
Pop function remove an object by index
Pop function gives the removed data where as Remove function gives the whole list of data leaving the remove once

In [59]:
a = ['a', 'a', 'b', 'b', 'c', 'c']
a.remove('a')
print(a)

['a', 'b', 'b', 'c', 'c']

In [60]:
a.pop(3)

'c'

In [61]:
a

['a', 'b', 'b', 'c']

In [70]:
a1 = ['a', 'a', 'b', 'b', 'c', 'c']
a1

['a', 'a', 'b', 'b', 'c', 'c']

In [66]:
index = a1.index('a')
index

0

In [72]:
a1.index('b')

2

Q3. How to find the first occurance of the first matching element

In [77]:
list6 = ['Apple','Mango','Apple','Pear','Strawberry','Dagon Fruit','Melon','Mango']
list6.index('Mango')

1

In [79]:
list6[7]

'Mango'

Q4. How to concatenate two list

In [80]:
List1 = ['Mercedes Benz','Toyota','Ford','BMW','Audi','Lamborghini']
list2 = ['AMG GT','Legender','Mustange','Q8','Urus']
list7 = List1+list2
print(list7)

['Mercedes Benz', 'Toyota', 'Ford', 'BMW', 'Audi', 'Lamborghini', 'AMG GT', 'Legender', 'Mustange', 'Q8', 'Urus']

Q5. How to count the occurance of the specificobject in the list

In [81]:
a=(1,2,3,2,4,4,5,6,8,5,6,1,9,4,4,5,4)    # The count function returns the no of occurance of a specific object in the list
a.count(4)

5

Q6. How to shallow copy a list     {shallow = little deeply}

In [25]:
b=['Train','Bus','Car','Boat','Aeroplane','Horse','Bike']
c=b.copy()
c

['Train', 'Bus', 'Car', 'Boat', 'Aeroplane', 'Horse', 'Bike']

In [99]:
A=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
B=A.copy()
B

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [90]:
B[1:20:3]   # Shallow  Copy

[2, 5, 8, 11, 14, 17, 20]

In [100]:
B[::-1]
# Backward Slicing

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [83]:
B[2:8]   #inclusive and exclusive

[3, 4, 5, 6, 7, 8]

Q7. How to deep copy a list to deep copy a list we need to import the copy module and then call copy.deepcopy() function

In [38]:
import copy 
round1 = [
    ['Arnold', 'Sylvester', 'Jean Claude'],
    ['Buttercup', 'Bubbles', 'Blossom']
]
round2 = copy.deepcopy(round1)
round2[0][0] = 'Jet Lee'
print(round1)
print(round2)

[['Arnold', 'Sylvester', 'Jean Claude'], ['Buttercup', 'Bubbles', 'Blossom']]
[['Jet Lee', 'Sylvester', 'Jean Claude'], ['Buttercup', 'Bubbles', 'Blossom']]

In [ ]:
roun

In [2]:
import copy
l1 = [
   ['Sunflower','Jasmine','Rose','Lavender','Bougainvillea'],
   ['Yellow','White','Red','Voilet','Pink']
]
l2 = copy.deepcopy(l1)
l2[0][0] = 'Water Lily'
print(l1)
print(l2)

[['Sunflower', 'Jasmine', 'Rose', 'Lavender', 'Bougainvillea'], ['Yellow', 'White', 'Red', 'Voilet', 'Pink']]
[['Water Lily', 'Jasmine', 'Rose', 'Lavender', 'Bougainvillea'], ['Yellow', 'White', 'Red', 'Voilet', 'Pink']]