# Loops

if , if..else,

Q. A code to check whether a number is positive

In [4]:
num=30
if num > 0:
    print('Number is positive')

Number is positive

In [3]:
num=-3
if num > 0:
    print('Number is positive')
else : 
    print('Number is negative')

Number is negative

In [5]:
num=4
if num % 2 == 0:
    print('Even')
else :
    print('Odd')

Even

In [7]:
val = int(input("Enter your value:"))
print(val)
num = input ("Enter number :")
print(num)
name1 = input("Enter name : ")
print(name1)

Enter your value:23
23
Enter number :14
14
Enter name : Sam
Sam

Q. chech the number is even or odd by taking input from the user.

Q. Take two inputs from the user check whether they are matching or not

In [1]:
num = int(input ("Enter number :"))
print(num)

if num % 2 == 0:
    print('The number is even')
else :
    print('The number is odd')

Enter number :2
2
The number is even

In [2]:
val1 = input("Enter 1st Value :")
print(val1)
val2 = input ("Enter 2nd Value :")
print(val2)

if val1 == val2:
    print('The values are equal')
else :
    print('not equal')

Enter 1st Value :Sam
Sam
Enter 2nd Value :Sam
Sam
The values are equal

Q. Take two input from user and check whether their len is equal

In [1]:
value1 = input("Enter 1st value:")
print(value1)
value2 = input('Enter 2nd value:')
print(value2)

if len(value1) == len(value2):
    print("Length is same")
else :
    print('Not same')

Enter 1st value:sakshi
sakshi
Enter 2nd value:sujata
sujata
Length is same

Q. A company decided to give a bonus of 30% to all the employees if their working experience is more or eqaul to 3.
   Ask the user for their salary and experience and net bonus amount. 
   
Q. Take values of len and breath of a rectangle from a user and check whether it is square. 

Q. A shop will give a discount 10% if the cost of purchuse quantity is more than 1000. Ask user for quantity if 1 unit will
   cost 100 judge and print total cost for user.

In [9]:
Name = input("Enter your name:")
print(Name)
Sal = int(input("Enter your Salary:"))
print(Sal)
Exp = int(input("Enter your experience:"))
print(Exp)

if Exp >= 3 : 
    print('The net bonus is :',Sal*0.3)
    print('Total Salary : ' ,Sal+Sal*0.3)
else :
    print('WE ARE SORRY :')

Enter your name:Sam
Sam
Enter your Salary:50000
50000
Enter your experience:5
5
The net bonus is : 15000.0
Total Salary :  65000.0

In [2]:
length = int(input("Enter the length:"))
print(length)
breadth = int(input("Enter the breadth:"))
print(breadth)

if length == breadth :
    print("It is a Square")
else :
    print("It is a Rectangle")

Enter the length:20
20
Enter the breadth:20
20
It is a Square

In [11]:
Name = input("Enter your name :")
print(Name)
TQ = int(input("Total Quantities :"))
print(TQ)
TP = int(input("Total Price :"))
print(TP)

if TP>=1000 :
    print("Discount Price :",TP*0.1)
    print("New total price :",TP-TP*0.1)
else :
    print("I am sorry")

Enter your name :Sam
Sam
Total Quantities :20
20
Total Price :7000
7000
Discount Price : 700.0
New total price : 6300.0

In [4]:
print ("Enter quantity")
quantity = int(input())
if quantity*100>1000:
    print("Cost is",((quantity*100)-(.1*quantity*100)))
else:
    print ("Cost is",quantity*100)

Enter quantity
20
Cost is 1800.0

In [2]:
val =int(input("Enter your total Quantity :"))
print(val)
if val*100>1000 :
    print("Cost is:",((val*100)-(.1*val*100)))

else:
    print("Cost is ",val*100)

Enter your total Quantity :30
30
Cost is: 2700.0

In [4]:
apple_cost = 200
orange_cost = 100
Papaya_cost = 50
dargonfruit_cost = 100
val1 = int(input("Enter the quantity:"))
print(val1)
val2 = int(input("Enter the quantity:"))
print(val2)
val3 = int(input("Enter the quantity:"))
print(val3)
val4 = int(input("Enter the quantity:"))
print(val4)

total=(val1*apple_cost)+(val2*orange_cost)+(val3*Papaya_cost)+(val4*dargonfruit_cost)
print(total)

Enter the quantity:2
2
Enter the quantity:1
1
Enter the quantity:2
2
Enter the quantity:1
1
700

In [6]:
# taking three inputs at a time
x, y, z = input("Enter a three value: ").split()
print("Total number of students: ", x)
print("Number of boys is : ", y)
print("Number of girls is : ", z)
print()

Enter a three value: 3 2 1
Total number of students:  3
Number of boys is :  2
Number of girls is :  1

In [8]:
fru1= 10
fru2 = 15
fru3 = 50
apple, mango, papaya =int(input("Enter quantity:\n"))
print("Total Quantity :",sum(apple+mango+papaya))
a=fru1*apple
b=fru2*mango
c=fru3*papaya
print("Apple's cost :",fru1*apple)
print("Mango's cost :",fru2*mango)
print("Papaya's cost :",fru3*papaya)
if apple + banana:
    printf("The total price :",sum(fru1*apple)+(fru2*mango))
elif

SyntaxError: invalid syntax (<ipython-input-8-20fad501075a>, line 14)

Q. Write a prog. to check whether a person is eligible for vote or not on the bases of age

In [18]:
Name = input("Enter your name :")
print(Name)
Addharcardno = int(input("Enter your Addhar Card number:"))
print(Addharcardno)
age = int(input("Enter your Age:"))
print(age)
if age >= 18:
    print("You are eligible for voting")
else :
    print("I am sorry , you are not")

Enter your name :Sam
Sam
Enter your Addhar Card number:23516763568373
23516763568373
Enter your Age:17
17
I am sorry , you are not

In [5]:
name= input("Enter your name:")
DOBY= int(input ("Enter number DOBY:"))
age=2021-DOBY
print(name)
print(DOBY)
print(age)
if age>18:
        print('eligible')
else:
     print('not eligible')

Enter your name:sam
Enter number DOBY:2004
sam
2004
17
not eligible

In [6]:
num = int(input("Enter your value:"))

if (num>0):
    print("Positive")
elif (num==0):
    print("Zero")
else:
    print("Negative")

Enter your value:0
Zero

In [24]:
num1 = int(input("Enter the number:"))
print(num1)
num2 = int(input("Enter the number:"))
print(num2)
if (num1>num2):
    print("Number is greater")
elif (num1<num2):
    print("Number 2 is greater")
elif (num1==num2):
    print("Both are equal")
elif (num1==0):
    print("Num1 is equal 0")
elif (num2==0):
    print("Num 2 is 0")
else:
    print("not valid")

Enter the number:2
2
Enter the number:0
0
Number is greater

Q. Take input of age of 3 people by the user and determine oldest and youngest child

In [25]:
print ("Enter first age:")
first = input()
print ("Enter second age:")
second = input()
print ("third age:")
third = input()

if first >= second and first >= third:
    print( "Oldest is",first)
elif second >= first and second >= third:
    print ("Oldest is",second)
elif third >= first and third >= second:
   print ("Oldest is",third)
else:
  print ("All are equal")

Enter first age:
20
Enter second age:
10
third age:
25
Oldest is 25

A school has following rules for grading system:
a. Below 25 - F
b. 25 to 45 - E
c. 45 to 50 - D
d. 50 to 60 - C
e. 60 to 80 - B
f. Above 80 - A
Ask user to enter marks and print the corresponding grade.

In [10]:
Name = input("Enter your name :")
print(Name)
Mark = int(input("Enter your marks"))
print(Mark)
if Mark > 80:
    print("You got A")
elif Mark >= 60 or Mark <= 80: 
    print("You got B")
elif Mark <= 60 or Mark >= 50: 
    print("You got C")
elif Mark >= 45 or Mark <= 50: 
    print("You got D")
elif Mark >= 25 or Mark <= 45: 
    print("You got E")
else :
    print("You got F")

Enter your name :sam
sam
Enter your marks50
50
You got B

Ask user to enter age , marital status and using following rulls place of survise
if employee is female 20 to 60 will work in urban, if employee is a male from 20 to 60 he can work any where,if employee is male an age is between 40 to 60 then he will work in urban areas, and any other input of age should print error.

In [11]:
age=int(input("Enter your age:"))
print(age)
Marriage=input("Marital Status:")
print(Marriage)
gender=input("Gender:")
print(gender)
if gender=="Female" and age >= 20 and age <=60:
    print("Urban")
elif gender=="Male" and age >= 20 and age <=60:
    print("Anywhere")
elif gender=="Male" and age >= 40 and age <=60:
    print("Urban")
else:
    print("Error")

Enter your age:30
30
Marital Status:no
no
Gender:Female
Female
Urban

Nested if-else

Write a program to check the eligiblity of a student to take admission in diploma in computer eng. course by using following criteria
-Nationality of india
-10 th-12 th pass out
-marks criteria above 70 %
-cbse or state board

In [17]:
Nationality=input("Are you a citizen of india:")
print(Nationality)
Qualification=input("Display your qualification:")
print(Qualification)
Marks=int(input("Enter your marks:"))
print(Marks)
Board=input("Which board you belongs to:")
print(Board)

if Nationality=="India":
    if Qualification ==  10 or Qualification == 12:
        if Marks >= 70:
            if Board == 'CBSE'or Board == 'State':
                print('You are eligible to take admission in diploma')
            else:
                print('Sorry , you are not eligible')
        else:
            print('Your marks are not eligible')
    else:
        print('Your qualification is not up to the mark')
else:
    print('Only Indians are allowed')

Are you a citizen of india:India
India
Display your qualification:12
12
Enter your marks:90
90
Which board you belongs to:CBSE
CBSE
Your qualification is not up to the mark

In [12]:
Nationality = input('Are you a Indian:')
Adhar=input('Do you have Adhar Card:')
Pan=input('Do you have Pan Card:')
Qualification=input('Share your Qualification:')
Verify=input('Police verification:')
if Nationality == 'Yes':
    if Adhar == 'Yes':
        if Pan == 'Yes':
            if Qualification == 10 or Qualification == 12 or Qualification == 'Degree' or Qualification == 'Job' or Qualification == 'ITI':
                if Verify == 'Yes':
                    print('You are selected for next step')
                else:
                    print('Please verify it!')
        else:
             print('sorry make a Pan Card')
    else:
        print('sorry make a Adhar Card')
else:
    print('Well we are sorry you are not a Indian')

Are you a Indian:yes
yes
Do you have Adhar Card:Yes
Yes
Do you have Pan Card:Yes
Yes
Share your Qualification:10
10
Police verification:Yes
Yes

# While loop

In [20]:
i = 1
while i < 6:
  print(i)
  if (i == 3):
    break
  i += 1

1
2
3

Take 10 integer input from user by using loop and print their average value on the screen

In [16]:
sum = 0
i = 10
while i > 0:
   
    print('Enter 10 integer')
    num = int(input())
    sum = sum+1
    i=i-1
print('Average :',sum/10.0)

Enter 10 integer
1
Enter 10 integer
2
Enter 10 integer
3
Enter 10 integer
4
Enter 10 integer
5
Enter 10 integer
6
Enter 10 integer
7
Enter 10 integer
8
Enter 10 integer
9
Enter 10 integer
0
Average : 1.0

Print multiplication table of 24 using loop
eg.
24 * 1 = 24
24 * 2 = 48

In [4]:
num = 1
while num <= 10:
    print(24 * num)
    num=num+1

24
48
72
96
120
144
168
192
216
240

 Syntax fac = fac*number
           number = number-1

In [39]:
number = int(input('Insert num :'))
print(number)
n = 1
while n <= 1:
    if number == 0 or number == 1:
        print('fac = 1')
    else:
        n = n*number
        number = number + 1
        
        print('fac variable')

Insert num :2
2
fac variable

# For loop

Range function = is use to set the limit in for loop . It has three parametres that start stop and End.

In [1]:
for i in range(1,4):
    print('Sakshi')

Sakshi
Sakshi
Sakshi

In [38]:
for i in range (0,21,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [8]:
for s in range (0,101,5):
    print(s)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

Write a program to print 10 even no. in revese

In [9]:
for s in range (20,0,-2):
    print(s)

20
18
16
14
12
10
8
6
4
2

write a program to print table of a number accept from a user
write a program to print factorial of a number using for loop
write a program to check whether the no. prime number or not

In [12]:
num = int(input('Enter your value:'))
for i in range (1,11):
    print(num * i)

Enter your value:12
12
24
36
48
60
72
84
96
108
120

In [17]:
num1 = int(input('Enter your num:'))
fac = 1
for i in range(1,num1+1):     #6 = 1*2*3*4*5
    fac = fac * i
print(fac)

Enter your num:6
720

6 = 1*2*3*4*5*6

In [3]:
num=int(input("Enter any number"))
f=1
for i in range(1,num+1):
    f=f*i
print("Factorial is",f)

Enter any number4
Factorial is 24

In [8]:
i = int(input('Enter the value'))
f=0
if i == 0 or i == 1:
    f=1
for s in range (2,i):
    if (i % s) == 0 :
        f=1
if f==1:
    print('Number is not prime')
else:
    print('primary number')

Enter the value9
Number is not prime

In [9]:
num=int(input("Enter any number"))
f=0
if num==1 or num==0:
     f=1
for i in range(2,num):
     if num%i==0:
          f=1
if f==1:
     print("Number is not prime")
else:
     print("Number is prime")

Enter any number7
Number is prime

write a program to find a sum of the digits of the number accepted from the user,

In [13]:
num = int (input('Enter your name :'))
print(num)
while (num):
r  = num % 10
print (r)
num = num // 10
print (num)

Enter your name :1234
1234
4
123

In [1]:
num1 = int ( input ('Enter your number: '))
sum = 0 
while (num1):
    r = num1 % 10
    sum = sum + r
    num1 = num1 // 10
print (sum)

Enter your number: 1234
10

Write a program by taking input from the user and printing the square root of the number till 15 also increment the number by 3


25
64
121
196

In [5]:
num = 1
for i in range (5,15,3):
        print(i**2)

25
64
121
196