# Sets

A set is an unorder collection of items
Every set element is unique. A set is a mutable data structure.
A set can also be use to perform mathematical set operation like union, intersection semetric different etc.
A set is created by using '{}'. It cannot have mutable elements like list, dictionary as its element.

Defining a set

In [1]:
Set={1,2,3}
print(Set)

{1, 2, 3}

Similarity = Dictionary and sets both are unorder structure. They both are mutable
Dissimilarity = Set doesn't allow repeated element where as dict allows. Set is unindex where as dict is index. 
Dictionary have keys value pairs where as sets values .

In [2]:
Set1={1.0,'Sam',(1,2,3)}
Set1

{(1, 2, 3), 1.0, 'Sam'}

In [1]:
a=[1,2,3,4]
Set2=set(a)   # converting list to set
Set2

{1, 2, 3, 4}

In [4]:
type(Set2)

set

Distinguish set and dictionary while creating empty set

In [5]:
dict1={}
type(dict1)

dict

In [6]:
Set3={}
type(Set3)

dict

In [7]:
Set4=set()
type(Set4)

set

In [3]:
Set5={1,2,3,'Sam','Sushmita di','Samadhan Bhai'}
Set5

{1, 2, 3, 'Sam', 'Samadhan Bhai', 'Sushmita di'}

In [4]:
Set5.add('Apple')
Set5

{1, 2, 3, 'Apple', 'Sam', 'Samadhan Bhai', 'Sushmita di'}

In [5]:
Set5.update([2,3,6])   #duplication
Set5

{1, 2, 3, 6, 'Apple', 'Sam', 'Samadhan Bhai', 'Sushmita di'}

In [6]:
Set5.add(6)
Set5

{1, 2, 3, 6, 'Apple', 'Sam', 'Samadhan Bhai', 'Sushmita di'}

The difference between add function and update function is 
1. In add function we can only add one data where as in  update function we can add multiple data .
2. (NOTE : By using both the functions the matching data which is already defined in an excisiting set we cannot repeat the elements in the set)

Adding a list and a set in an excisitng set

In [7]:
Set5.update(['COD','Freefire'],{34,56})
Set5

{1,
 2,
 3,
 34,
 56,
 6,
 'Apple',
 'COD',
 'Freefire',
 'Sam',
 'Samadhan Bhai',
 'Sushmita di'}

To delete an element we use 2 function
1. Discard
2. Remove

In [13]:
Set6={1,2,3,4,5}
Set6.discard(5)
Set6

{1, 2, 3, 4}

In [14]:
Set6.remove(2)
Set6

{1, 3, 4}

In [16]:
Set6.discard(6)
Set6

{1, 3, 4}

In [17]:
Set6.remove(6)
Set6

KeyError: 6

Discard as well as Remove both delete the data but the difference is 
Remove we guide you where the data is available where as discard will no and print the set as it is.

In [9]:
Set7={1,2,3,4,6,7}
Set7.pop()

1

In [10]:
Set7

{2, 3, 4, 6, 7}

In [16]:
Set7.pop()

3

In [17]:
Set7.pop()

4

In [24]:
Set7.clear()
Set7

set()

Python Set operation :
Python Sets can be use to carry out mathematical set operation like union, intersection, difference, symmetric difference,
We can do these operation with the help of operators and method.

In [37]:
a={1,2,3,4,5}     
b={4,5,6,7,8}
print(a|b)

{1, 2, 3, 4, 5, 6, 7, 8}

The union operation which is perform with the help of | elementates the common data and clubs the distinguish values of the sets.

In [26]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

Set in intersection of set

In [27]:
print(a & b)

{4, 5}

In [28]:
a.intersection(b)

{4, 5}

Set difference

In [29]:
print(a-b)

{1, 2, 3}

In [30]:
print(b-a)

{8, 6, 7}

In [31]:
a.difference(b)

{1, 2, 3}

Set symmetric difference

In [32]:
print(a ^ b)

{1, 2, 3, 6, 7, 8}

In [33]:
a.symmetric_difference(b)

{1, 2, 3, 6, 7, 8}

In [38]:
b=a.copy()
b

{1, 2, 3, 4, 5}

In [36]:
Set8={1,2,3,4,5}
Set9=Set8.copy()
Set9

{1, 2, 3, 4, 5}

In [25]:
vowels={'a','e','i','o','u'}
Set10=frozenset (vowels)        # frozenset is a function which converts mutable to emutable.
print('The frozenset is',Set10)
print ('The empty frozenset is',())

The frozenset is frozenset({'e', 'a', 'i', 'o', 'u'})
The empty frozenset is ()

In [22]:
Set10.add('a')

AttributeError: 'frozenset' object has no attribute 'add'