# String

 String is a collection of characterisation

In [7]:
# Concatination
a='Sam'
b='More'
c=a+b
c

'SamMore'

In [4]:
d='sakshi'
c=d+b
c

'sakshiMore'

In [9]:
print('Sakshi'+ str(b))

SakshiMore

In [1]:
# Accessing string characters in Python
Name = 'Sam loves to play video game'
#name1 ='I am sakshi'
print('Gamers:',Name)
#print('Gamers:',name1)

Gamers: Sam loves to play video game

In [2]:
#first chaacter
print('love',Name[10])

love t

In [7]:
#last character
print('Love',Name[-1])

Love e

In [17]:
#slicing 
print('love',Name[18:28])

love video game

In [21]:
#Printing a string in next line
str = '      My name is Sam And I love Python'
str.split()

['My', 'name', 'is', 'Sam', 'And', 'I', 'love', 'Python']

In [13]:
print('My name is Sam\nAnd I love Python')

My name is Sam
And I love Python

In [14]:
print(str.upper())

MY NAME IS SAM AND I LOVE PYTHON

In [23]:
print(str.lower())

     my name is sam and i love python

In [5]:
print(str.find('y'))

7

In [22]:
index=str.index('y')
index

7

In [7]:
print(str.strip())

My name is Sam And I love Python

In [6]:
print(str.replace('y','i'))

      Mi name is Sam And I love Pithon

In [10]:
print('Python' in str)       #bool ean value

True

In [30]:
Game='COD'
txt="Sam loves to play"+' '+ Game
print(txt)

Sam loves to play COD

In [33]:
#Formate function

age = '17'
txt = 'My name is Sakshi ,I am {}'
print(txt.format(age))

My name is Sakshi ,I am 17

In [1]:
age = '17'
gamingname = 'Sammore2903'
Game = 'COD'
txt='My name is Sakshi, I am {} years old. My gaming name is {}. And I love to play {}'
print(txt.format(age,gamingname,Game))

My name is Sakshi, I am 17 years old. My gaming name is Sammore2903. And I love to play COD

In [9]:
sales_record = {
'price':2500,
'num_items': 4,
'person': 'Sam'
}
sales_record

{'price': 2500, 'num_items': 4, 'person': 'Sam'}

In [43]:
type(sales_record)

dict

In [11]:
sales_statement = '{} brought {} items at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Sam brought 4 items at a price of 2500 each for a total of 10000

In [2]:
str = 'Sam'    #Prints string two times
str * 2

'SamSam'